*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    background-color: #212121;
    color: #fff;
}
/* Custom font class */
.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
  } 
.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
.oxygen-bold {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }
  /* ****** */
.allsection{
    width: 100vw;
    /* height: 100%; */
    height: 100vh;
    display: flex;
}
.leftnavbar{
    height: 100vh;
    width: 270px;
    background-color: #FFF;
    padding: 5px 15px 15px 15px;
    position: relative;
    /* top :0; */
}
.slider{
    background-color: #fff;
    height: 55px;
    width: 55px;
    background-color; #212121;
    position: absolute;
    top: 0px;
    right: -55px;
    z-index: 1;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-right: 2px solid #AD88C6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.usernamesection{
    width: auto;
    height: 45px;
    margin-bottom: 150px;
    background: linear-gradient(#AD88C6, #E1AFD1);
    border-radius: 27.5px;
    display: flex;
    align-items: center;
    gap: 20px;
    /* box-shadow: 0px 0px 0px; */
    transition: box-shadow .5s ease;
    flex-wrap: wrap-reverse;
}
.usernamesection:hover{
    box-shadow: 0px 0px 12px #E1AFD1;
    /* -2px -2px 4px #fff */
}
.profilepic{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image: url("profiledemo.jpg");
    background-size: cover;
    border: 2px solid #AD88C6;
    box-shadow: 0px 0px 2px #313131;
}
.username{
    background-color: transparent;
    color: #212121;
}
.sociallinks{
    max-width: 100%;
    padding: 7.5px;
    height: 210px;
    border-radius: 22.5px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 10;
}
.sociallinkbuttons{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin-bottom: 15px;
    flex: wrap;
}
.instagram{
    background-image: url("insta.jpg");
}
.facebook{
    background-image: url("fb.png");
}
.linkedin{
    background-image: url("linkedin.png");
}
.github{
    background-image: url("github.jpg");
}
/* HOME ADD EDIT ABOUT BUTTONS */
.quickbuttons{
    max-width: 100%;
    /* height: 100%; */
    margin-bottom: 45px;
    background-color: transparent;
}
.buttons{
    /* max-width: 100%; */
    width: min(100%, 270px);
    height: 40px;
    border-radius: 20px;
    border: 1px solid #AD88C6;
    background-color: transparent;
    margin-top: 4px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: .6rem;
    color: #212121;
    overflow: hidden;
    transition:box-shadow .5s ease;
}
.buttons i{
    background-color: purple;
    margin-left: 16px;
}
.buttons p{
    padding-left: 20px;
    background-color: transparent;
    color: #212121
}
.buttons:hover{
    /* animation: glow .5s ease; */
    box-shadow:inset 0px 0px 4px #7469B6;

}
/* TOP BAR */
.rightsection{
    width: 100%;
    height: 100vh;
    background-image: url("cover.jpg");
    background-size: cover;
    background-repeat: 0;
}
.topbar{
    width: 100%;
    height: 55px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
}
.mainheading{
    background: linear-gradient(#7469B6, #AD88C6, #E1AFD1, #FFE6E6);
    -webkit-background-clip: text;
    color: transparent;
    /* margin-left: 100px; */
}
.searchbar{
    background-color: #fff;
    display: flex;
    border-radius: 15px;
    transition: box-shadow .5s ease,
    border .5s ease;
}
.searchbar input{
    height: 30px;
    width: 300px;
    background-color: #E1AFD1;
    border: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 15px;
}
input:focus{
    outline: none;
}
.searchbutton{
    height: 30px;
    width: 30px;
    background-color: #7469B6;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbutton i{
    background-color: transparent;
}
.searchbar:hover{
    box-shadow: 0px 0px 8px #7469B6;
    /* border: 2px solid #7469B6; */
}

/* FOOTER */
.footer{
    width: 100%;
    height: 25px;
    background-color: #a6a6a6;
}
/* ***** EVNET SECTION ***** */
.eventsection{
    height: calc(100% - 80px);
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.event{
    height: 350px;
    width: 250px;
    border-radius: 20px;
    border: .5px solid #f3f3f3;
    background: transparent;
    backdrop-filter: blur(15px);
    transition: box-shadow .4s ease;
}
.event:hover{
    box-shadow: 0px 0px 12px #7469B6;
}

.eventcoverpic{
    width: 100%;
    height: 150px;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.eventcontent{
    height: 200px;
    width: 100%;
    background-color: transparent;
    padding: 20px;
    position: relative;
}
.eventheading{
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    position: absolute;
    top: 20px;
}

.eventdescription{
    font-family: "Oxygen", sans-serif;
    font-weight: 50;
    font-style: normal;
    font-size: 12px;
    background-color: transparent;
    position: absolute;
    top: 50px;
}

.eventdescription p{
    background-color: transparent;
    color: #d6d6d6;
}

.eventhostprofile{
    width: calc(100% - 40px);
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: .5px solid #f3f3f3;
    position: absolute;
    bottom: 20px;
    display: flex;
}

.eventhostprofilepic{
    height: 100%;
    width: 40px;
    border-radius: 20px;
    /* border: .5px solid #f3f3f3; */
    background-image: url('profiledemo.jpg');
    background-size: cover;
}
.eventhostname_time{
    margin-left: 15px;
    width: calc( 100% - 55px );
    height: 100%;
    background-color: transparent;

}
.eventhostname{
    background-color: transparent;
    margin-top: 2.5px;
}
.eventhostname h3{
    font-family: "Oxygen", sans-serif;
    font-weight: 50;
    font-style: normal;
    font-size: 12px;
    background-color: transparent;
}
.eventposttime{
    font-family: "Oxygen", sans-serif;
    font-weight: 25;
    font-style: normal;
    font-size: 10px;
    background-color: transparent;
    margin-top: 2.5px;
}
.eventposttime p{
    background-color: transparent;
    color: #d6d6d6;
}

/* ***** Edit Event Section ***** */

.addeventsection{
    height: calc(100% - 80px);
    width: 100%;
    background-color: transparent;
    display: none;
}